@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --warm-wood: #8a6950;
    --deep-espresso: #32231b;
    --creamy-white: #eef2ec;
    --rich-coffee: #674932;
    --latte-foam: #cec1ab;
    --caramel-topping: #af8e74;
    
    /* Dark mode */
    --dark-bg: #121212; /* Dark background */
    --dark-text: #e0e0e0; /* Light text for dark background */
    --dark-accent: #333333; /* Darker elements, e.g., footer */
    --dark-highlight: #bb86fc; /* A highlight color for dark mode */
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background-color: var(--creamy-white);
    color: var(--deep-espresso);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--creamy-white);        /* color of the tracking area */
  }
  
body::-webkit-scrollbar-thumb {
    background: var(--latte-foam);        /* color of the tracking area */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: var(--rich-coffee);
    z-index: 1000; /* Ensures it's above all other content */
    width: 100%;
    position: relative;
    top: 0;
    height: 70px; /* Set a fixed height for the navbar */
}

/* This is the one that changes the logo AND background */
.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
}

.logo::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 270px;
    height: 270px;
    background-color: var(--latte-foam);
    border-radius: 50%;
    top: 70%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo .logo-image {
    width: 240px;
    height: auto;
    position: relative;
    z-index: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    flex-grow: 0;
}

nav {
    position: relative;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    font-family: 'Merienda', cursive;
    text-decoration: none;
    color: var(--latte-foam);
    padding: 10px 15px;
    font-size: 22px;
}

header nav ul li a, .cafe-name, footer {
    font-family: 'Lato', sans-serif;
}

nav ul li a:hover {
    background-color: var(--caramel-topping);
    border-radius: 5px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero {
    position: relative;
    height: 65vh; /* Hero section height */
    width: 100%;
    background-image: url('images/cafe.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hero-content {
    position: absolute;
    left: 20%;
    text-align: center;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--caramel-topping);
    border: none;
    color: var(--creamy-white);
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.hero-content button:hover {
    background-color: var(--rich-coffee);
}

.about-cafe {
    padding: 20px;
    font-size: 22px;
    margin: 20px 0; /* Adjust margins as needed */
}

footer {
    background-color: var(--rich-coffee);
    color: var(--latte-foam);
    text-align: center;
    padding: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: var(--latte-foam); /* Icon color */
    margin: 0 10px;
    font-size: 24px; /* Icon size */
}

footer a:hover {
    color: var(--caramel-topping);
}

.cafe-name {
    font-family: 'Pacifico', cursive;
    color: var(--latte-foam); /* A soft, inviting color from your palette */
    font-size: 24px; /* A size that stands out but remains balanced with other elements */
    font-weight: 700; /* Bold font weight for emphasis */
    text-shadow: 1px 1px 2px var(--deep-espresso); /* Optional: Adds depth and improves readability */
}

.info-container {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Adds padding around the container */
    gap: 20px;
}

#google-maps, .cafe-hours, .instagram-embed {
    flex: 1; /* Each child takes equal width */
    padding: 10px; /* Adds padding within each section */
    box-sizing: border-box; /* Includes padding in the element's total width and height */
}

#google-maps iframe, .instagram-embed {
    width: 100%; /* Makes the embeds take the full width of their parent */
    height: 500px; /* Example fixed height; adjust as necessary */
    border: none; /* Removes any default border */
}

.instagram-embed {
    overflow: hidden; /* Prevents content from extending beyond the set height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the embed vertically if there's extra space */
}

.cafe-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centers the content of the hours vertically and horizontally */
}

.cafe-hours h2 {
    text-align: center;
    color: var(--rich-coffee); /* Or adjust as needed */
    margin-bottom: 20px;
}

.hours-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hours-info p {
    font-size: 18px; /* Adjust as needed */
    margin: 5px 0; /* Gives a little space between the lines */
    text-align: center; /* Ensures text is centered */
}


.about-section {
    max-width: 1200px;
    margin: 0 auto; /* Centers the section */
    padding: 50px 20px; /* Adds padding around the content */
    background-color: var(--creamy-white);
    color: var(--deep-espresso);
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns items in the center */
    text-align: center; /* Centers the text */
}

.about-section h2 {
    font-family: 'Merienda', cursive; /* A font that fits the cafe's aesthetic */
    color: var(--rich-coffee);
    margin-bottom: 30px; /* Adds space below the heading */
}

.about-section p {
    font-family: 'Merriweather', serif;
    line-height: 1.6; /* Improves readability */
    margin-bottom: 30px; /* Adds space below the paragraph */
}



.carousel-container {
    position: relative;
    max-width: 600px; /* Adjust based on your needs */
    margin: auto;
}

.carousel-slide {
    display: flex;
    overflow: hidden;
}

.carousel-slide img {
    max-width: 100%;
    display: none; /* Hide images initially */
}

.carousel-dots {
    text-align: center;
    padding: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}
